*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;

}

body{
    overflow-x: hidden;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: black;
    width: 100%;
}

.logo a img{
    width: 75px;
}


.main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('mint-bg-min.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}


.main::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(40px);
    pointer-events: none;
  }
  
.card{
    padding: 50px 30px 30px 30px;
    background-color: black;
    border-radius: 5px;
    z-index: 1111;
    max-width: 430px;
    width: 100%;
    color: white;
    margin: 40px 20px;
}


  .title{
      font-size: 26px;
      font-weight: 900;
      color: white;
      text-align: center;
      margin-bottom: 40px;
  }


  .flex-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 !important;
    position: relative;


}

  .flex-section::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #f9eb93;
    background: linear-gradient(
90deg,#f9eb93,rgba(255,252,208,0));
    position: absolute;
    left: 0;
    top: 0;
  }


  .flex-section::after{
    content: "";
    width: 100%;
    height: 1px;
    background: #f9eb93;
    background: linear-gradient(
90deg,#f9eb93,rgba(255,252,208,0));
    position: absolute;
    left: 0;
    bottom: 0;
  }


  .flex-section-2::before{
    content: "";
    width: 100%;
    height: 1px;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    
  }


  .flex-section-3{
      margin-top: 0 !important;
    padding: 20px 0 !important;


  }

  .flex-section-3::before{
    content: "";
    width: 100%;
    height: 1px;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    
  }


  .flex-section-3::after{
    content: "";
    width: 100%;
    height: 1px;
    background: none;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  
  .flex-section-2{
      margin-top: 0 !important;
      padding: 20px 0 !important;

  }


  .secA{
      font-size: 23px;
      font-size: 1.25rem;
opacity: 0.9;

  }

  .quantityNumber{
    font-size: 1.25rem;
    color: #6609ff;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .secBTNs{
      display: grid;
      grid-template-columns: auto 1fr auto;
      width: fit-content;
      width: 100px;

  }

  .secBTNs button{
font-size: 1.5rem;
color: white;
outline:none;
border: none;
cursor: pointer;
padding: 3px 10px;
background-color: transparent;
display: flex;
align-items: center;
justify-content: center;
opacity: 0.8;
  }


  .minusBtn{
      transform: translateY(-1px);
      font-size: 2rem !important;
  }


  .secB{
    font-size:1.5rem !important;
opacity: 0.9;
  }

  .secB span{
      font-size:1rem;
  }

  .flex-section-3 .secB{
      display: flex;
      align-items: baseline;
      gap: 7px;

  }


  .info{
      text-align: center;
      width: 100%;
      opacity: 0.9;
      font-size: 1.4rem;
      color: white;
      margin-top: 20px;
      margin-bottom: 30px;
  }

  .mintBtn{
    background: radial-gradient(88% 85.96% at 50% 26.4%,hsla(0,0%,100%,.7) 0,hsla(0,0%,100%,0) 69.79%,hsla(0,0%,100%,0) 100%),#6609ff;
    box-shadow: 4px 38px 62px rgb(0 0 0 / 50%);
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold !important;
    font-size: 20px;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: block;
    border-radius: 1.5rem;
    transition: 0.3s;
    border: none;
    outline: none;
    cursor: pointer;
  }

  #loginButton{
    font-weight: 900 !important;
  }

.mintBtn:hover{
    background: radial-gradient(88% 85.96% at 50% 26.4%,hsla(0,0%,100%,.7) 0,hsla(0,0%,100%,0) 69.79%,hsla(0,0%,100%,0) 100%),#4104a3;
    
}
#userWallet{
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  word-wrap: break-word;
  line-height: 1.5;

}
  /* responsive */

  @media (min-height:700px){
      .main{
        height: calc(100vh - 80px);
      }
  }